<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit your review</h1>
  <form 
    action="/skatespots/<%= skatespot._id %>/reviews/<%= review._id %>?_method=PUT"
    method="POST"
  >
  <label>
    Content:
    <textarea 
      name="content" 
      type="text" 
      cols="30" 
      rows="5"
      autocomplete="off"
    ><%= review.content %></textarea>
  </label>
    <button type="submit">Update Review</button>
  </form>
</section>

<%- include('../partials/footer') %>