<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<section style="display: flex; justify-content: center;">
  <% if (user) { %>
    <div style="text-align:center; border-radius: 5px;">
      <h1>Add Spots</h1>
      <h5>Welcome! This page is exclusive to street spots in the Denver area, please do not enter skate parks!!!
        <br><br>
      If a spot gets shut down, make sure to come back and mark as a bust</h5>
      <form style="margin: 5px 5px 5px 5px;" 
      action="/skatespots" method="POST">
      <label>
        Spot:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Bust?:
        <input type="checkbox" name="bust">
      </label>
      <button type="submit">Add Spot</button>
    </form>
    <% } %>
    <h2>All Spots:</h2>
    <ul>
      <% skatespots.forEach(skatespot => { %>
        <li> 
          <a href="/skatespots/<%= skatespot._id %>"><%= skatespot.name %></a> is <%= skatespot.bust ? 'a bust' : 'not a bust' %>
        </li>
        <% }) %>
      </ul>
    </div>
</section>
<%- include('../partials/footer') %>